<div class="calendar-card">
  <table>
    <thead>
      <tr>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th>Нд</th>
      </tr>
    </thead>
    <tbody>
      @for (week of calendar; track $index) {
        <tr>
          @for (day of week.days; track $index) {
            <td
              [class.disabled]="day.disabled"
              [class.selected]="day.selected"
              [class.today]="day.active"
              (click)="select(day.value)"
            >
              <span class="day-cell">
                {{ day.value | moment:'ddd DD' }}
              </span>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
